.energy25 {
  	position: absolute;
  	top: calc(50% - 47px);
  	left: calc(50% - 109px);
  	display: inline-block;
  	width: 230px;
}
.energy25-wrapper {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 2000px;
  	height: 94px;
  	overflow: hidden;
}
.strona-gwna-inner {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background: linear-gradient(90deg, #9b9faa, #cfc1b4 64.42%, rgba(185, 174, 170, 0.98) 96.15%);
  	width: 2000px;
  	height: 94px;
  	overflow: hidden;
  	font-size: 64px;
  	color: #1e1e1e;
  	font-family: Yesteryear;
}
.produkcja-energii-elektrycznej {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	text-shadow: 1px 0 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2), -1px 0 0 rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.produkcja-energii-elektrycznej-wrapper {
  	position: absolute;
  	top: 94px;
  	left: 0px;
  	width: 1440px;
  	height: 73px;
  	overflow: hidden;
}
.produkcja-energii-elektrycznej-container {
  	position: absolute;
  	top: 475px;
  	left: 0px;
  	width: 1440px;
  	height: 73px;
  	overflow: hidden;
}
.rednia-nasonecznienie-wrapper {
  	position: absolute;
  	top: 548px;
  	left: 0px;
  	width: 1440px;
  	height: 73px;
  	overflow: hidden;
}
.suma-energii-w-poszczeglnych {
  	margin: 0;
  	font-family: inherit;
  	font-size: inherit;
  	padding-left: 53px;
}
.suma-energii-w-poszczeglnych-wrapper {
  	position: absolute;
  	top: 694px;
  	left: 0px;
  	width: 1440px;
  	height: 73px;
  	overflow: hidden;
}
.rednia-prdko-wiatru-wrapper {
  	position: absolute;
  	top: 167px;
  	left: 0px;
  	width: 1440px;
  	height: 73px;
  	overflow: hidden;
}
.suma-energii-w-poszczeglnych-container {
  	position: absolute;
  	top: 313px;
  	left: 0px;
  	width: 1440px;
  	height: 73px;
  	overflow: hidden;
}
.produkcja-w-elektrowni-wiatrow-wrapper {
  	position: absolute;
  	top: 240px;
  	left: 0px;
  	width: 1440px;
  	height: 73px;
  	overflow: hidden;
}
.produkcja-w-elektrowni-fotowol-wrapper {
  	position: absolute;
  	top: 621px;
  	left: 0px;
  	width: 1440px;
  	height: 73px;
  	overflow: hidden;
}
.lokalizacje-elektrowni-fotowol-wrapper {
  	position: absolute;
  	top: 767px;
  	left: 0px;
  	width: 1440px;
  	height: 73px;
  	overflow: hidden;
}
.lokalizacje-elektrowni-wiatrow-wrapper {
  	position: absolute;
  	top: 386px;
  	left: 0px;
  	width: 1440px;
  	height: 73px;
  	overflow: hidden;
}
.strona-gwna {
  	width: 100%;
  	position: relative;
  	height: 1080px;
  	background-image: url('Strona Główna.jpg');
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top;
  	text-align: left;
  	font-size: 40px;
  	color: #000;
  	font-family: Agbalumo;
}

