{% load static%}
<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">

  	<link rel="stylesheet"  href="static/app_energy25/css/styles.css" />
	<link rel="stylesheet"  href="static/app_energy25/css/global.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Yesteryear:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Agbalumo:wght@400&display=swap" />



</head>
<body>

  	<div class="strona-gwna">
    		<div class="strona-gwna-inner">
      			<div class="energy25-wrapper">
        				<div class="energy25">Energy25</div>
      			</div>
    		</div>
    		<div class="produkcja-energii-elektrycznej-wrapper">
      			<div class="produkcja-energii-elektrycznej">Produkcja Energii Elektrycznej w elektrowni wiatrowej:</div>
    		</div>
    		<div class="produkcja-energii-elektrycznej-container">
      			<div class="produkcja-energii-elektrycznej">Produkcja Energii Elektrycznej w elektrowni fotowoltaicznej:</div>
    		</div>
    		<div class="rednia-nasonecznienie-wrapper">
      			<div class="produkcja-energii-elektrycznej">
        				<ul class="suma-energii-w-poszczeglnych">
          					<li>Średnia nasłonecznienie</li>
        				</ul>
      			</div>
    		</div>
    		<div class="suma-energii-w-poszczeglnych-wrapper">
      			<div class="produkcja-energii-elektrycznej">
        				<ul class="suma-energii-w-poszczeglnych">
          					<li>Suma energii w poszczególnych latach</li>
        				</ul>
      			</div>
    		</div>
    		<div class="rednia-prdko-wiatru-wrapper">
      			<div class="produkcja-energii-elektrycznej">
        				<ul class="suma-energii-w-poszczeglnych">
          					<li>Średnia prędkość wiatru</li>
        				</ul>
      			</div>
    		</div>
    		<div class="suma-energii-w-poszczeglnych-container">
      			<div class="produkcja-energii-elektrycznej">
        				<ul class="suma-energii-w-poszczeglnych">
          					<li>Suma energii w poszczególnych latach</li>
        				</ul>
      			</div>
    		</div>
    		<div class="produkcja-w-elektrowni-wiatrow-wrapper">
      			<div class="produkcja-energii-elektrycznej">
        				<ul class="suma-energii-w-poszczeglnych">
          					<li>Produkcja w elektrowni wiatrowej</li>
        				</ul>
      			</div>
    		</div>
    		<div class="produkcja-w-elektrowni-fotowol-wrapper">
      			<div class="produkcja-energii-elektrycznej">
        				<ul class="suma-energii-w-poszczeglnych">
          					<li>Produkcja w elektrowni fotowoltaicznej</li>
        				</ul>
      			</div>
    		</div>
    		<div class="lokalizacje-elektrowni-fotowol-wrapper">
      			<div class="produkcja-energii-elektrycznej">
        				<ul class="suma-energii-w-poszczeglnych">
          					<li>Lokalizacje elektrowni fotowoltaicznych</li>
        				</ul>
      			</div>
    		</div>
    		<div class="lokalizacje-elektrowni-wiatrow-wrapper">
      			<div class="produkcja-energii-elektrycznej">
        				<ul class="suma-energii-w-poszczeglnych">
          					<li>Lokalizacje elektrowni wiatrowych</li>
        				</ul>
      			</div>
    		</div>
  	</div>




</body>
</html>